<P><%= task.content %></P> 
<span><%= link_to 'Delete', project_task_path(@project, task.id), method: :delete, data:{confirm: 'are you sure?'} %></span>
<span><%= link_to 'Complete', completed_project_task_path(@project, task.id), method: :patch %></span>